<!DOCTYPE html>
<html lang="ru">
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<div class="bg-info-subtle">
    <header>

    </header>
    <main>
        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                <div class="row ">
                    <form  name="crud" action="articlesList.twig">
                        <a href="/page/create"  class="btn btn-sm btn-outline-secondary">создать статью</a>
                        <a href="/page/read"  class="btn btn-sm btn-outline-secondary">прочитать статью</a>
                        <a href="/page/update"  class="btn btn-sm btn-outline-secondary">обновить статью</a>
                        <a href="/page/delete"  class="btn btn-sm btn-outline-secondary">удалить статью</a>
                    </form>
                </div>
            </div>
        </div>

        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                <div class="row ">
                    <article class="article">
                        {%  block content %}
                        {% endblock %}
                    </article>
                </div>
            </div>
        </div>
    </main>


        <address>все права незащищены <br>
            Автор данной писанины Vieux Ronchon</address>
</div>

