{% extends "layout.twig" %}
{% block content %}
    <section id="hero" class="hero section accent-background">
        <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
            <div class="row gy-5 justify-content-between">
                <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
                    <h2><span>С возвращением!</span></h2>
                    <p>Sed autem laudantium dolores. Voluptatem itaque ea consequatur eveniet. Eum quas beatae cumque eum quaerat.</p>
                    <div class="d-flex">
                        <a href="/admin/create" class="btn-get-started">Создать</a>
                        <a href="/admin/edit" class="btn-get-started">Редактировать</a>
                        <a href="/admin/update" class="btn-get-started">Обновить</a>
                        <a href="/admin/delete" class="btn-get-started">Удалить</a>
                    </div>
                </div>
                <div class="col-lg-5 order-1 order-lg-2">
                    <img src="./assets/img/hero-img.svg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>
{% endblock %}