{% extends "layout.twig" %}
{% block content %}
    {% for article in articles %}

            <article class="article">

                <div class="card shadow-sm">
                    <img src="{{ article.image }}"  alt="">
                    <div class="card-body" >
                        <h5 class="card-title">{{ article.title }}  </h5>
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="/page/{{ article.id }}"  class="btn btn-sm btn-outline-secondary">Подробнее</a>
                        </div>
                    </div>
                </div>
            </article>

    {% endfor %}
{% endblock %}